.App {
  position: relative;
  margin: 5%;
}

#gallery {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#gallery div {
  position: relative;
}

#gallery div img {
  width: 100%;
}

#gallery div button {
  position: absolute;
  left: 0;
}

#modal {
  position: sticky;
  width: 99vw;
  height: 98vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.808);
}

#modal img {
  height: 80%;
}

label {
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
}
